/*Sección Skills*/

section.skills {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 2rem 5rem 1rem;
}

.skills__title {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: var(--cor-de-texto);
}

.skills__line {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills__box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:flex-end;
    width: 15vw;
    height: 25vh;
    margin: .5rem;
    padding: 1rem;
    background: var(--cor-blanco);
}

.skills__img {
    align-items: center;
    text-align: start;
    padding: .5rem;
}

.skills__name {
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
    padding: .5rem;
    color: var(--cor-de-texto);
}

/*Mobile*/
@media  screen and (max-width:450px) {
    section.skills {
        margin: 0;
    }
    .skills__line{
        flex-wrap: wrap;
    }
    .skills__box {
        width: 30%;
        height: 15vh;
        margin-left:.7rem;
        margin-right:.7rem;
    }
}

/*Tablet*/
@media only screen and (min-width: 450px) and (max-width: 768px){
    section.skills {
        margin: 0;
    }
    .skills__line{
        flex-wrap: wrap;
    }
    .skills__box {
        width: 25%; 
        height: 30vh;
        margin-left:.7rem;
        margin-right:.7rem;
    }
}